/* CAROUSEL */

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 5%;
}

/* CATEGORY CARD */

.card-title {
  text-align: center;
  font-weight: bolder;
  font-size:x-large;
  left: 51%;
  top: 47%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bolder;
  background-color: #000000a2 ;
  border-radius: 20%;
  padding: 3%;
}

.card {
  transition: transform 0.2s; 
  background-color: black;
}

.card:hover {
  transform: scale(1.05); 
}

.card-custom {
  padding: 0%;
  max-width: 98%;
  margin-top: 10rem;
}

.image-title {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bolder;
  background-color: #000000a2 ;
  border-radius: 20%;
  padding: 3%;
}

.btn {
  background-color: #ffffff !important;
  color: black !important;
  font-size: larger;
  font-weight: bold;
  
}

/* BUTTON NEXT/PREV */

.btn_P {
margin-right: 7rem;
background-color: #00000000;
border: none;
}

.btn_N {

background-color: #00000000;
border: none;
}

/* NAV-TAB */
#nav-tabContent {
background-color: #00000000;
max-width: 98%;
}

.nav-tabs {
margin-top: -34%;
margin-right: 5%;
}

.Tab_custom {
margin-top: 8rem;
background-color: #000000;
color: rgb(255, 251, 251);
}


@media screen and (min-width:454px) {
.Tab_custom {
  margin-top: 10rem;
  background-color: #000000;
  color: rgb(255, 251, 251);
  }

}
@media screen and (min-width:540px) {
.Tab_custom {
  margin-top: 12rem;
  background-color: #000000;
  color: rgb(255, 251, 251);
  }

}
@media screen and (min-width:648px) {
.Tab_custom {
  margin-top: 15rem;
  background-color: #000000;
  color: rgb(255, 251, 251);
  }

}
@media screen and (min-width:790px) {
.Tab_custom {
  margin-top: 17rem;
  background-color: #000000;
  color: rgb(255, 251, 251);
  }

}

@media screen and (min-width:898px) {
.Tab_custom {
  margin-top: 20rem;
  background-color: #000000;
  color: rgb(255, 251, 251);
  }

}

@media screen and (min-width:1062px) {
.Tab_custom {
  margin-top: 22rem;
  background-color: #000000;
  color: rgb(255, 251, 251);
  }

}

@media screen and (min-width:1160px) {
.Tab_custom {
  margin-top: 33rem;
  background-color: #000000;
  color: rgb(255, 251, 251);
  }

}
.affichage_Article {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  padding: 3%;
}

/* FORM_CONTACT */

.form_custom {
background-color: #000000c4;
color: #ffffff;
padding: 5%;
margin-top: 5%;
margin-bottom: 5%;
}

.alert_txt {
font-size: smaller;
}


/* BUTTON FORM */

.btn_custom:hover {
background-color: #45a049;
}

body {
margin: 0;
font-family: Arial, sans-serif;
}

.carousel-container {
overflow-y: hidden;
width: 100%;
}

.carousel {
display: flex;
width: 100%;
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
touch-action: pan-x;
-ms-touch-action: pan-x;
}

.card {
flex: 0 0 auto;
width: 250px;
margin-right: 20px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
padding: 20px;
cursor: grab;
transition: transform 0.3s ease-out;
}

.card img {
width: 100%;
height: auto;
border-radius: 5px;
}

.card p {
margin: 10px 0;
}



.card img {
width: 100%;
height: auto;
border-radius: 5px;
}

.card p {
margin: 10px 0;
}

.card:hover {
transform: translateX(10px);
}

.card img {
width: 100%;
height: 100%;
object-fit: cover;
}

.card-details {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
padding: 20px;
color: #fff;
transition: opacity 0.3s ease, left 0.3s ease;
opacity: 0;
}

.card:hover .card-details {
left: 0;
opacity: 1;
}

.card-details p {
margin-top: 0;
font-size: small;
white-space: wrap;
}

.card-details button {
background-color: #fff;
color: #000;
border: none;
padding: 10px 20px;
cursor: pointer;
margin-top: 5px;
}

.card-details button:hover {
background-color: #ffffff;
}

.scrollspy-example {
background-color: #0000007c !important;
}

.h4 {
color:aliceblue !important;
}

.nav-link {
color: #ffffff !important;
}
.nav-pills .nav-link.active {
background-color: #ffffff65;
}

#navbar-example2 {
background-color: #000000;
color: #ffffff;
}

.navbar-brand {
color: #ffffff;
}